body{
	background-image: url("back.png");
	color: white;
	font-family: Arial, Helvetica, sans-serif;	

}


#title{
	text-align: center;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
	font-size: 50px;

}

#projects_container{
	float: right;
	position: relative;
	left: -50%;
	text-align: left;

}

.page{
	background-color: #072438;
	position: relative;
	float: left;
	left: 50% ;

	margin-left: 20px;
	margin-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom:15px;

	width: 350px;
	height: 450px;
	border-style: solid;
	border-color: #fff;
	border-radius: 20px 5px 5px 5px;
	text-align: center;
}

.page h3{
	font-size: 30px;
}

.page h4{
	font-size: 20px;
	font-weight: normal;
}

.page img{
	width: 340px;
	border-radius: 8px;
}