body{
	background-image: url("back.png");
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	min-width: 1024px;
	margin: 0px;
	padding: 0px;
	color: #fff;

}

#topbar{
	position: relative;
	display: table;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 3em;
	background-color: #c0392b;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #212121;
}


#title{
	position: relative;
	vertical-align: middle;
	display: table-cell;
	font-family: "Courier New", Courier, monospace;
	font-weight: normal;
	text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
1px 1px 0 #000;
	font-size: 90px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#version{
	font-size: 50px;
}



#projects_container{
  align-content: space-between;

	position: relative;
	top: 15px;
	float: left;
	margin: 0px;
	left: 2.5%;
	width: 95%;
	height: auto;

	text-align: left;
}

.page{
	vertical-align: top;
	float: left;
	position: relative;
	left: 0px;
	right: 0px;
	vertical-align: top;

	width: -moz-calc(33.33333% - 14px);
	width: -webkit-calc(33.33333% - 14px);
	width: -o-calc(33.33333% - 14px);
	width: calc(33.33333% - 14px);

	white-space: normal;

	margin-right: 10px;
	margin-bottom: 10px;
	height: 20vw;
/*	height: 500px;*/
	border-style: solid;
	border-color: #212121;
	border-width: 2px;

	box-shadow: 2px 2px 4px #212121; 

	-webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;

	background-color: white;

}

.page:hover{
	box-shadow: 0px 0px 1.2vw #212121;
	border-color: black;

}

.page:nth-child(3n){
	page-break-after: always;
  break-after: always;
}

.page img{
	position: relative;
	top: 0px;
  left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.text{
	z-index: 10;
	background-color: rgba(20, 20, 20, 0.6);
	position: absolute;
	float: left;
	width: 100%;
	height: 4.5vw;

	top: 15.5vw;
	left: 0px;

	text-shadow:
  -0.2px -0.2px 0 #000,
  0.2px -0.2px 0 #000,
  -0.2px 0.2px 0 #000,
0.2px 0.2px 0 #000;
}


.text a{
	position: relative;
	/*text-decoration: none;*/
	color: white;
	font-weight: bold;
	font-size: 1.4vw;
	left: 5px;


}

.page h4{
	position: relative;
	top: -1vw;

	font-size: 1vw;
	font-weight: normal;
	color: white;
	left: 5px;

}

#bottom_bar{
	position: relative;
	display: table;
  top: 20px;
  left: 0px;
  width: 100%;
	height: 30px;
	vertical-align: middle;
	background-color: #212121;
	font-size: 17px;
	clear: both;
}

#bottom_bar p{
	display: table-cell;
	vertical-align: middle;
}

/*Small Screen*/
@media (max-width: 1280px){
	.page{
		width: -moz-calc(50% - 14px);
		width: -webkit-calc(50% - 14px);
		width: -o-calc(50% - 14px);
		width: calc(50% - 14px);

		break-after: avoid !important;
		page-break-after: avoid !important;

		height: 25vw;
	}

	.page:nth-child(2n){
		page-break-after: always;
	  break-after: always;
	}

	.text{
		top: 20.5vw;
	}

	body{
		min-width: 720px !important;
	}
}

/* Small ass screen */
@media (max-width: 1000px){
	body{
		width: 1000px;
		background-color: #000;
	}
	.page{
		height: 300px;
	}

	.text{
		top: 265px;
		height: 35px;
	}

	.text a{
		font-size: 16px;
	}
	
	.text h4{
		top: -13px;
		font-size: 12px;
	}
}
/* Mobile Phone*/
@media (max-device-width: 720px){
	.page{
		clear: left;
		width: 100%;
		margin-right: 0px !important;
		height: 55vw;
		margin-bottom: 20px;
	/*	height: 720px;*/
	}

	.text{
		height: 8.5vw;
		top: 46.5vw;
	}

	.text a{
		font-size: 3.5vw;
	}

	.text h4{
		top: -2.3vw;
		font-size: 2.5vw;
	}

	body{
		min-width: 720px !important;
	}


}
